:root {
    --p-gray: #E6EAE7;
    --p-gray-darker: #C8D0CA;
    --s-pink: #F7EFD3;
    --accent: #f59b2b;
    /* BE8247 */
}

.header {
    background: var(--p-gray);
    height: max-content;
    margin-top: 0;
    padding: 6rem;
    padding-bottom: 0;
}

.featured-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding-bottom: 1rem;
}

.featured-category>a {
    font-weight: bold;
    display: inline-block;
    border: 2px solid var(--accent);
    padding: 0.5rem 1rem;
    border-radius: 0.125rem;
    color: var(--accent);
    margin: 1rem 0;
}

.featured-category>h1 {
    text-transform: uppercase;
}

.featured-product {
    display: flex;
    gap: 0.5rem;
    position: relative;
}

.featured-product>div:first-child {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0.25rem;
    padding: 1rem;
    width: 50%;
    margin-top: 4rem;
    z-index: 1;
}

.featured-product img {
    position: absolute;
    width: 350px;
    height: 350px;
    right: 0;
    bottom: 5%;
}

.featured-product__review {
    display: flex;
    gap: 0.5rem;
}

.featured-product small {
    text-transform: uppercase;
    opacity: 0.7;
}

.featured-product h3,
.featured-product h2 {
    margin: 0.5rem 0;
}

.featured-product__details {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: underline;
}

.home-content {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Category Section  */

.categories>div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


.categories__list {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    text-decoration: underline;
}

.category-container {
    display: flex;
    gap: 0.25rem;
    overflow: auto;
    scrollbar-width: none;
}

.category {
    background: var(--p-gray);
    border-radius: 0.25rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.category h3 {
    text-align: center;
}

/* Deals  */

.deals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.25rem;
}

.deal {
    display: flex;
    gap: 0.25rem;
    background: var(--s-pink);
    padding: 1rem;
    border-radius: 0.25rem;
}

.deal>div:first-child>div {
    display: flex;
    align-items: center;
    gap: 0.125rem;
}

.deal img {
    width: 100%;
}

.deal a {
    text-decoration: underline;
}

.deal p {
    margin-bottom: 0.25rem;
}

/* Shipping  */
.shipping {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    background: var(--p-gray);
    align-items: center;
    border-radius: 0.25rem;
}

.shipping>div:first-child {
    width: 60%;
}

.shipping>div:last-child {
    display: flex;
    justify-content: end;
}

.shipping img {
    width: 80%;

}


/* Fashion Section  */
.fashions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.25rem;
}

.fashion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.25rem;
}

.fashion a>div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.fashion h3 {
    margin-bottom: 0.25rem;
}

.fashion a div {
    padding: 1rem;
}

.male {
    background: var(--p-gray);
}

.malelight {
    background: var(--p-gray-darker);
}

.female {
    background: var(--s-pink);
}

.femalelight {
    background: #f2e7ba;
}

/* Vendor  */
.vendors>div {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    overflow: auto;
    scrollbar-width: none;
}

.vendors article {
    padding: 1rem 2rem;
    border-radius: 0.25rem;
}

.vendors h3 {
    margin-bottom: 0.5rem;
}
/* For Tablets Devices */

@media screen and (max-width: 1024px) {
    .header {
        padding: 2rem;
    }

    .featured-product img {
        width: 250px;
        height: 250px;
    }

    .featured-product>div:first-child {
        margin-top: 2rem;
        padding: 0.5rem;
    }

    .category {
        padding: 0.5rem;
    }
}


/* For Mobile Devices */
@media screen and (max-width: 720px) {
    .header {
        padding: 2rem 0.5rem;
    }

    .featured-category>a {
        padding: 0.125rem 0.5rem;
        font-weight: normal;
        border-width: 1px;
    }

    .featured-container {
        gap: 1rem;
    }

    .featured-product h3,
    .featured-product h2 {
        margin: 0.125rem 0;
    }

    .featured-product img {
        width: 200px;
        height: 200px;
        right: 5%;
    }

    /* Category Section  */

    /* Deals */

    /* Shipping  */
    .shipping {
        padding: 1rem;
    }

    .shipping img {
        width: 95%;
    }

    .shipping h1 {
        margin-bottom: 0.5rem;
    }

}