:root {
    --p-gray: #E6EAE7;
    --p-gray-darker: #C8D0CA;
    --s-pink: #F7EFD3;
    --accent: #f59b2b;
    --color: #242A26;
    /* BE8247 */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: larger;
}

button {
    background: none;
    font-family: inherit;
    font-size: inherit;
    border: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

ul {
    display: flex;
    gap: 2rem;
}

/* Fade-in Animation */

.fade-in {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.product-section>h2{
    margin-bottom: 1rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.25rem;
}

.product {
    background: var(--p-gray);
    border-radius: 0.25rem;
    max-width: 260px;
}

.product div:first-of-type {
    margin-bottom: 0.5rem;
}

.product-info {
    padding: 0.5rem 1rem;   
}

.product-info :is(small, h3) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product-info>* {
    margin-bottom: 0.5rem;
}


.product img {
    width: 100%;
    height: 200px;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.product small {
    text-transform: uppercase;
    opacity: 0.8;
}

.product-star-container {
    display: flex;
    gap: 1rem;
}

.star {
    fill: var(--p-gray-darker);
}

.yellow_star {
    fill: var(--accent);
}

/* Spinner  */
.spinner {
    width: 100%;
    padding: 1rem 0; 
    background: var(--p-gray);
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-margin {
    margin: 0 4rem;
}

.spinner-padding {
    padding: 4rem 0;
}

.loader {
    width: 30px;
    height: 30px;
    border: 3px solid var(--p-gray-darker);
    border-bottom-color: var(--accent);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

footer {
    background: var(--p-gray);
    padding: 1.5rem;
}

footer h3 {
    font-weight: lighter;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: x-large
    }

    nav {
        padding: 2rem;
    }

    h2,
    h3 {
        font-size: large;
    }

    ul {
        gap: 1rem;
    }

    .spinner-margin {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 720px) {

    nav {
        padding: 1rem;
    }

    ul {
        gap: 0.75rem;
    }

    p, span {
        font-size: small;
    }

    .spinner-margin {
        margin: 0 1rem;
    }

    /* Products */
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-info {
        padding: 0.25rem 0.5rem;
    }
}