:root {
    --p-gray: #D8DEDA;
    --s-pink: #BDB2BA;
    --accent: #5D5134;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #242A26;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
}

h2 {
    font-size: x-large;
    font-weight: bolder;
}

h3 {
    font-size: larger;
    font-weight: bolder;
}

button {
    background: none;
    font-family: inherit;
    font-size: inherit;
    border: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

ul {
    display: flex;
    gap: 2rem;
}

.svg {
    stroke-width: 0.5;
}